

<p style="color:red"> {{error}} </p>
<form action="/login" method="post">
<div class="log">
<h2>INGRESAR</h2>

  <p>
    Correo
    <input name="email" type="email">
  </p>

  <p>
    Contraseña
    <input name="password" type="password">
  </p>
  <input type="submit">
</div>

</form>
